
.logo{
  text-align: center;
  background-color: orange;
  width: auto;
  height: 400px;
}
#logot{
  color: white;
  font-size: 42px:
}
.button{
  display: flex;
  justify-content: space-around;
}
.container2{
  display: flex;
  justify-content: space-around;
}
.container3{
  display: inline-table;
  justify-content: space-around;
}
.fast{
  display: grid;
}
.container4{
  float: right;
}
.table{
  border: 1px solid white;
  width: 100%;
  height: 200px;
}
#fast{
  float: right;
}
.cont{
  width: 100%;
  background-color: red;
  text-align: center;
  height: 160px;
}
#em{
  font-size: 22px;
  color: white;
}
.footer{
  background-color: orange;
  height: 200px;
  width: 100%;
}
#log{
  text-align: center;
}
#log1{
  text-align: center;
}
#logt{
  color: white;
  font-size: 22px;
}
#logob{
  color: white;
  font-size: 22px;
}
#logoa{
  color: white;
  
}
