.part one{
  height: 390px;
  width: 100%;
  background-image: url(/home/macmillan/Desktop/protwo/images/landing.jpg);
}
.logo{
  text-align: center;
  background-image: url(/home/macmillan/Desktop/protwo/images/landing.jpg);
}
#log{
  font-size: 24px;
  color: white;
}
#happy{
  width: 200px;
  height: 50px;
  background-color: grey;
  text-align: center;
  padding: 10%;
}
#party{
  width: 200px;
  height: 50px;
  background-color: #F15A29;
  text-align: center;
  padding: 10%;
}
#break{
  color: white;
  padding:  22%;
  background-image: url(/home/macmillan/Desktop/protwo/images/breakfast.jpg);
  text-align: center;
}
#lun{
  color: white;
  padding:  22%;
  background-image: url(/home/macmillan/Desktop/protwo/images/dinner2.jpg);
  text-align: center;
}
#din{
  color: white;
  padding:  22%;
  background-image: url(/home/macmillan/Desktop/protwo/images/dinner.jpg);
  text-align: center;
}

.footer{
  background-color: #F15A29;
  height: 200px;
}
#log{
  text-align: center;
}
#logoa{
  text-align: center;
  color: white;
  font-size: 12px;
}
#log1{
  text-align: center;
  font-size: 22px;
  color: white;
}
.cont{
  height: 260px;
  background-image: url(/home/macmillan/Desktop/protwo/images/subscribe.jpg);
}
.form-group{
  text-align: center;
  color: white;
  font-size: 22px;
}
#email{
  text-align: center;
  margin-top: 40px;
}
.t{
   box-sizing: border-box;
   text-align: center;
   border: 20px solid black;
   box-shadow: 1px 1px 1px 1px grey;
}
#fast1{
  box-sizing: border-box;
 border: 20px solid white;
 box-shadow: 1px 1px 1px 1px grey;
 margin-left:20px;
 height:420px;
 width:530px;
 position: relative;
}
#drink1{
  box-sizing: border-box;
 border: 20px solid white;
 box-shadow: 1px 1px 1px 1px grey;
 margin-left:20px;
 height:420px;
 width:570px;
}
#drinktext{
  box-sizing: border-box;
 border: 20px solid white;
 box-shadow: 1px 1px 1px 1px white;
 margin-left:20px;
 height:420px;
 width:540px;
}
#fasttext{
  box-sizing: border-box;
 border: 20px solid white;
 box-shadow: 1px 1px 1px 1px white;
 margin-left:20px;
 height:420px;
 width:530px;
 text-align: left;
 margin-bottom: 20px;
}

.part-four {
   margin-top: 20px;

}

.center{
  box-sizing: border-box;
 border: 20px solid white;
 box-shadow: 1px 1px 1px 1px grey;
 margin-left:20px;
 height:200px;
 width:530px;
 flex-flow: column;
 position: relative;
}
#content{
  color: #F15A29;
  font-size: 22px;
}
.col-md-6{
  text-align: center;
}
#row3{
  box-sizing: border-box;
 border: 20px solid white;
 box-shadow: 1px 1px 1px 1px grey;
 width: 1200px;
 height: 300px;
 margin-left: 40px;
 margin-top: 20px;
 margin-bottom: 50px;
}
.btn{
  text-align: center;
}
