
.logo{
  text-align: center;
  background-image: url(/home/macmillan/Desktop/protwo/images/landing.jpg);
  width: auto;
  height: auto;
}
#logot{
  color: white;
  font-size: 42px:
}
.button{
   border: 2px solid white;
   background-color: grey;
   color: black;
   padding: 14px 28px;
   font-size: 16px;
   cursor: pointer;
   display: flex;
   justify-content: flex-end;
}
.container2{
  display: flex;
  justify-content: space-around;
}
.container3{
  display: inline-table;
  justify-content: space-around;
}
.fast{
  display: grid;
}
.container4{
  float: right;
}
.table{
  border: 1px solid white;
  width: 100%;
  height: 2
}
#content{
  text-decoration-color: orange;
}
#fast{
  float: right;
}
.cont{
  width: 100%;
  background-image: url(/home/macmillan/Desktop/protwo/images/subscribe.jpg);
  text-align: center;
  height: 150px;
}
#em{
  font-size: 22px;
  color: white;
}
.footer{
  background-color: orange;
  height: 280px;
  width: 100%;
}
#log{
  text-align: center;
}
#log1{
  text-align: center;
}
#logt{
  color: white;
  font-size: 50px;
}
#logob{
  color: white;
  font-size: 22px;
}
#logoa{
  color: white;
}
.cont2{
  background-image: url(/home/macmillan/Desktop/protwo/images/foodsBg.jpg);
  height: 290px;
}

.ken{
   float: left;
}
.bug{
  float: center;
}
.cen{
  float: auto;
}
.btn {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: block;

}
.happy {
  border-color: white;
  color: green;
  width: 100%;
  height: 100px;
}
.party{
  border-color: white;
  color:green;
  width: 100%;
  height: 100px;
}
.party:hover{
  background: orange;
  color: purple;
}
.image{
  display: flex;
  width: 80%;
  float: left;
  height: 100%;
}
#top{
  display: flex;
  width: 100%;
}
.src{
  margin: 10px;
  text-align: center;
.paragraph{
  float: left;
}
#p1{
  width: 200px;
  height: auto;
}
.paragraph{
  height: auto;
  width: auto;
  float: right;
}
#text{
  font-size: 22px;
}
